/* ESTILO GERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
      background-color: #ffffff;
      height: 100vh;
    }

    .interface{
      max-width: 1280px;
      margin: 0 auto;
 }

 /* ESTILO CABEÇALHO */
header{
  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #8f0eb6;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: #070707;
  transform: scale(2);
}

header nav ul{
list-style-type: none;
}

header nav li{
display: inline-block;
padding: 0 40px;
}

.flex{
     display: flex;
}

/*ESTILO DO TOPO DO SITE */
section.topo-do-site{
  padding: 40px 4%
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1{
   color: #8f0eb6;
   font-size: 35px;
   line-height: 40px;
}
